@font-face {
    font-family: Billani;
    src: url(Fontes/soul_billani/SoulBillani.otf);
}
@font-face {
    font-family: Chocolates;
    src: url(Fontes/tt_chocolates/TT\ Chocolates\ Trial\ Regular.otf);
}
@font-face {
    font-family: Bestigia;
    src: url(Fontes/bestigia/);
}
*{
    margin: 0px;
    padding: 0px;
    font-family: chocolates;
}
a{
    text-decoration: none;
}


#cadastro{
    width: 600px;
    margin: 10px 60px;
    font-size: 20pt;
    line-height: 30pt;
   border-radius: 15%;
   color: rgba(151, 61, 109, 0.856);
}

.campocadastro{
    width: 300px;
    height: 30px;
    color: rgba(151, 61, 109, 0.856);
    border: none;
 }
 
 #cadastro a{
    font-size: 15pt;
    padding: 10px;
    
    color: rgba(151, 61, 109, 0.856);
    border: 2pt solid rgba(151, 61, 109, 0.856);
 }
 .botoescadastro{
   margin-left: 200px;
 }