@font-face {
    font-family: Billani;
    src: url(Fontes/soul_billani/SoulBillani.otf);
}
@font-face {
    font-family: Chocolates;
    src: url(Fontes/tt_chocolates/TT\ Chocolates\ Trial\ Regular.otf);
}
@font-face {
    font-family: Bestigia;
    src: url(Fontes/bestigia/);
}
*{
    margin: 0px;
    padding: 0px;
    font-family: chocolates;
}
a{
    text-decoration: none;
}


#formulario{
    width: 300px;
    margin: 10px 60px;
    line-height: 15pt;
   font-family: Billani;
}
#formulario h2{
    color: rgba(151, 61, 109, 0.856);

}
#botoes{
    width: 300px;
    height: 500px;

    border-radius: 15%;
    
    
} 

.botoes{
    width: 15pt;
    color: rgba(180, 109, 147, 0.979);
    font-weight: bold;
    text-align: center;
    border: 2pt solid rgba(180, 109, 147, 0.979);
   padding: 10px;
 

}

#botoes a{
    text-decoration: none;
    font-size: 13pt;
    color: rgba(151, 61, 109, 0.856);
    font-family: chocolate;
}
#botoes a:hover{
    font-size: 16pt;
}
#imagemlogin{
    width: 300px;
    height: 300px;
    border-radius: 10%;
    border-color: rgba(180, 109, 147, 0.979);
    margin-bottom: 30px;
    
}

