@font-face {
    font-family: Billani;
    src: url(Fontes/soul_billani/SoulBillani.otf);
}
@font-face {
    font-family: Chocolates;
    src: url(Fontes/tt_chocolates/TT\ Chocolates\ Trial\ Regular.otf);
}
@font-face {
    font-family: Bestigia;
    src: url(Fontes/bestigia/);
}
*{
    margin: 0px;
    padding: 0px;
    font-family: chocolates;
}
a{
    text-decoration: none;
}


#recuperarsenha{
    width: 400px;
    margin: 10px 60px;
    line-height: 25pt;
   font-family: Billani;
   color: rgba(151, 61, 109, 0.856);
}
#recuperarsenha a{
    color: rgba(151, 61, 109, 0.856);
}
